* {
  background-color: antiquewhite;
  padding: 1em;
}

.book {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1 rem;
  margin: 2rem 0;
}
.button {
  background-color: rebeccapurple;
  color: yellow;
}
